@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
      .masonry {
          column-gap: 1.25em;
          column-count: 2;
      }
      .masonry-sm {
          column-gap: 1.25em;
          column-count: 2;
      }
      .masonry-md {
          column-gap: 1.25em;
          column-count: 2;
      }
      .break-inside {
          break-inside: avoid;
      }

  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFCF1;
    --foreground: #00000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* Poppins Bold */

@font-face{
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Bold.woff2') format('woff2'),
       url('/assets/fonts/Poppins-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Poppins SemiBold */
@font-face{
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
       url('/assets/fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* Poppins Medium */
@font-face{
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Medium.woff2') format('woff2'),
       url('/assets/fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* Poppins Regular */
@font-face{
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Regular.woff2') format('woff2'),
       url('/assets/fonts/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}